:root {
  // Text colors
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --white: hsl(0, 0%, 100%);
  --semi-black: hsla(0, 0%, 0%, 0.3);
  --dark-grayBlue: hsl(240, 6%, 50%);

  // Background gradient
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  // Divider
  --light-blue: hsl(240, 5%, 91%);
  
}

$font-weights: (
  'regular': 400,
  'bold': 700
)